@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
  margin: 0;
  padding: 0;
}
body
{
  background-image:url(img/Fundo.png);
  background-repeat: repeat;
  background-size: 100%;
}

header
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #297a12;
  font-family: "Archivo Black", sans-serif;
}

.li 
{
  display: inline;
  margin-right: 10px;
}

a 
{
  text-decoration: none;
  color: white;
}

.logo
{
  padding-right: 400px;
  margin: 2px;
  height: auto;
}

main
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 5%;
  font-family: "Archivo Black", sans-serif;
}

.texto-principal{
  background-color: white;
  width: 1500px;
  height: 800px;
  border-radius: 5%;
}

.texto-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mapa
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 225px;
  background-color: rgb(61, 255, 77);
  color: rgb(0, 0, 0);
}

.lixos
{
  justify-content: center;
  word-spacing: 50px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  display: block;
}

.Nlixo
{
  text-align: center;
  word-spacing: 300px;
  padding-top: 50px;
  display: inline;
  justify-content: center;  
}

footer{
  background-color: #297a12;
}

.pontodecoleta{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 62px;
  color: #0abb13;
  -webkit-text-stroke: 4px;
  -webkit-text-stroke-color:#297a12;
}

footer{
  background-color:#297a12;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}
